<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Img to PDF</title>
</head>
<body>
    <h1>Extract Text from Image</h1>
    <form action="/upload" method="POST" enctype="multipart/form-data">
        <input type="file" name="myfiles" multiple/>
        <!-- <input type="file" name="myfiles" /> -->
        <button type="submit">Convert</button>
    </form>
</body>
</html>